.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}

.tagModalClose {
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalHeader h3 {
  margin: 0;
}

.tagInput {
  width: 100%;
  font-size: 15px;
  padding: 5px 0;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 0;
}

.modalHeader button {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.tagList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tagItem {
  background-color: #e9ecef;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.addBtn,
.deleteBtn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 10px;
}

.addBtn::after {
  content: "+";
  position: absolute;
}

.deleteBtn::after {
  content: "-";
  position: absolute;
}

.tagAddBtn {
  font-weight: bold;
  width: 100%;
  padding: 10px;
  background-color: #abab99;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.plusMinusToggle {
  cursor: pointer;
  height: 15px;
  position: relative;
  width: 15px;
  margin-top: 10px;
}

.plusMinusToggle:before,
.plusMinusToggle:after {
  background: black;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
  transition: transform 500ms ease;
}

.plusMinusToggle:after {
  transform-origin: center;
}

.plusMinusToggle.active:after {
  transform: rotate(90deg);
}

.plusMinusToggle.active:before {
  transform: rotate(180deg);
}
